/* GENERALE */
body {
    font-family: helvetica;
}

.y_bianco {
    background-color: white;
}

header {
    box-shadow: rgba(3,27,78,0.1) 0px 2px 4px;
}

#testata {
    background-color: #0160ff;
    color: white;
    background-image: url('https://www.digitalocean.com/static/bg-home-hero-3-bb4b33b77274db09b969f629ad81c4d5.svg');
    margin-top: 60px;
}

h1 {
    font-size: 60px;
    font-weight: bold;
}


/* HEADER */
#barra-nav {
    background-color: #fff;
    border: none;
    color: black;
    padding-bottom: 0;
}

#barra-nav a {
    color: black;
    font-weight: 600;
}

#barra-nav a:hover {
    color: #0160ff;
}

#barra-nav ul a {
    padding-top: 20px;
    padding-bottom: 20px;
}

.navbar-header img {
    height: 35px;

}

.navbar-header a {
    display: block;
    padding-top: 10px;
    padding-bottom: 10px;
}

.navbar-right button {
    color: #006aff;
    border: 1px solid #006aff;
    border-radius: 5px;
    margin-top: 14px;
    font-weight: bold;
}

.navbar-right button:hover {
    color: white;
    background-color: #006aff;
}

h1 + p {
    font-size: 24px;
    font-weight: 200;
}

.y_form {
    background-color: white;
    border-radius: 5px;
    padding: 20px;
}

.y_form h4 {
    background-color: #f3f5f9;
    margin: 0;
    padding: 10px;
    border-radius: 5px;
}

.y_form input {
    width: 100%;
}
